Transformación de Datos

* Crea nuevas columnas: Basándonos en los datos existentes, crea nuevas columnas que sean útiles para el análisis. Por ejemplo, calcula el ingreso total por venta y normaliza las ventas.
* Clasifica los datos: Crea una columna que clasifique las ventas en categorías significativas (e.g., ‘Alta’, ‘Media’, ‘Baja’).

In [1]:
import pandas as pd
import numpy as np

In [2]:

def cargar_datos(ruta_archivo):
    # Carga los datos del archivo CSV
    datos = pd.read_csv(ruta_archivo, delimiter=',')
    return datos
##Se realiza la carga con Pandas ya que numpy no muestra los valores categoricos
if __name__ == "__main__":
    ruta_archivo = '../trabajos_core/data/retail_sales_dataset.csv'
    df = cargar_datos(ruta_archivo)  

print(df.head())

##Imprime ultimas 5 filas
print("nÚltimas 5 filas del DataFrame:")
print(df.tail(5))
##Imprime informacion del dataframe
print("nInformación del DataFrame:")
print(df.info())
## Imprime estadistica descriptiva del DF
print("nEstadísticas descriptivas del DataFrame:")
print(df.describe())

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
nÚltimas 5 filas del DataFrame:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120
nInformación del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None
nEstadísticas descriptivas del DataFrame:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [3]:
##Agregar nuevas columnas
##Ganancias con aumento del 7%
aumento_precios_7= df['Price per Unit'] * (1 + 0.07)
df['ganancias_aumento_7%'] =aumento_precios_7 * df['Quantity'] 
##Ganancias con aumento del 10%
aumento_precios_10= df['Price per Unit'] * (1 + 0.10)
df['ganancias_aumento_10%'] =aumento_precios_10 * df['Quantity'] 
##Normalizacion del total
max_value = df['Total Amount'].max()
min_value = df['Total Amount'].min()
df['total_normalizado'] = df['Total Amount'].apply(lambda x: (x - min_value) / (max_value - min_value))

##Clasificacion de ventas
# Clasificar los precios por alto y bajo costo
df['Clasificacion_ventas'] = df['Total Amount'].apply(lambda x: 'Alta' if x >= 900 else 'Media' if 61 <= x <= 899 else 'Baja')
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,ganancias_aumento_7%,ganancias_aumento_10%,total_normalizado,Clasificacion_ventas
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,160.5,165.0,0.063291,Media
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,1070.0,1100.0,0.493671,Alta
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,32.1,33.0,0.002532,Baja
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,535.0,550.0,0.240506,Media
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,107.0,110.0,0.037975,Media

Agrupación y Agregación

* Agrupación por múltiples columnas: Realiza agrupaciones por categorías como producto y tienda, producto y mes, etc.
* Aplicar funciones de agregación: Utiliza funciones como sum, mean, count, min, max, std, y var para obtener estadísticas descriptivas de cada grupo.

In [4]:
##Agrupaciones
##total por categoria de productos
group_categ_total = df.groupby('Product Category')['Total Amount'].sum()
print(group_categ_total)
##Total por mes
##Asegurarnos que columna es date
df['Date'] = pd.to_datetime(df['Date'])

# Agrupa por mes y año y suma el Total Amount
group_ventas_categoria_mes = df.groupby([pd.Grouper(key='Date', freq='ME'), 'Product Category'])['Total Amount'].sum().reset_index()

# Formatea el índice a mes/año
group_ventas_categoria_mes['Date'] = group_ventas_categoria_mes['Date'].dt.strftime('%m/%Y')

print(group_ventas_categoria_mes)

# Aplicar múltiples funciones de agregación 
##Agrupacion de ventas por categoria de productos
produc_categ = df.groupby('Product Category')['Total Amount']
##Datos estadisticos de la agrupacion
agg_result_categ = produc_categ.agg(['sum', 'mean', 'count','min','max','std','var'])
print(agg_result_categ)
##Agrupacion por mes/anho
venta_x_date =df.groupby([pd.Grouper(key='Date', freq='ME'), 'Product Category'])['Total Amount']
##Datos estadisticos de la agrupacion
agg_result_date = venta_x_date.agg(['sum', 'mean', 'count','min','max','std','var'])
print(agg_result_date)

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64
       Date Product Category  Total Amount
0   01/2023           Beauty         12430
1   01/2023         Clothing         13125
2   01/2023      Electronics          9895
3   02/2023           Beauty         14035
4   02/2023         Clothing         14560
5   02/2023      Electronics         15465
6   03/2023           Beauty         10545
7   03/2023         Clothing         15065
8   03/2023      Electronics          3380
9   04/2023           Beauty         11905
10  04/2023         Clothing         13940
11  04/2023      Electronics          8025
12  05/2023           Beauty         12450
13  05/2023         Clothing         17455
14  05/2023      Electronics         23245
15  06/2023           Beauty         10995
16  06/2023         Clothing         10170
17  06/2023      Electronics         15550
18  07/2023           Beauty         16090
19  07/2023         Clothing          8250
20  07/2023      Electronics         11125
21  08/2023           Beauty          9790
22  08/2023         Clothing         12455
23  08/2023      Electronics         14715
24  09/2023           Beauty          6320
25  09/2023         Clothing          9975
26  09/2023      Electronics          7325
27  10/2023           Beauty         15355
28  10/2023         Clothing         13315
29  10/2023      Electronics         17910
30  11/2023           Beauty          9700
31  11/2023         Clothing         15200
32  11/2023      Electronics         10020
33  12/2023           Beauty         12400
34  12/2023         Clothing         12070
35  12/2023      Electronics         20220
36  01/2024           Beauty          1500
37  01/2024      Electronics            30
                     sum        mean  count  min   max         std  \
Product Category
Beauty            143515  467.475570    307   25  2000  563.612788
Clothing          155580  443.247863    351   25  2000  550.695917
Electronics       156905  458.786550    342   25  2000  567.540150

                            var
Product Category
Beauty            317659.374401
Clothing          303265.992674
Electronics       322101.822341
                               sum         mean  count   min   max  \
Date       Product Category
2023-01-31 Beauty            12430   497.200000     25    25  2000
           Clothing          13125   504.807692     26    25  2000
           Electronics        9895   395.800000     25    25  2000
2023-02-28 Beauty            14035   539.807692     26    25  2000
           Clothing          14560   441.212121     33    25  2000
           Electronics       15465   594.807692     26    30  2000
2023-03-31 Beauty            10545   502.142857     21    25  1500
           Clothing          15065   396.447368     38    25  2000
           Electronics        3380   241.428571     14    30  1000
2023-04-30 Beauty            11905   410.517241     29    25  2000
           Clothing          13940   387.222222     36    25  2000
           Electronics        8025   382.142857     21    25  1500
2023-05-31 Beauty            12450   444.642857     28    30  2000
           Clothing          17455   471.756757     37    25  2000
           Electronics       23245   581.125000     40    25  2000
2023-06-30 Beauty            10995   439.800000     25    25  2000
           Clothing          10170   363.214286     28    25  1500
           Electronics       15550   647.916667     24    30  2000
2023-07-31 Beauty            16090   595.925926     27    30  2000
           Clothing           8250   434.210526     19    25  2000
           Electronics       11125   427.884615     26    30  2000
2023-08-31 Beauty             9790   407.916667     24    25  1200
           Clothing          12455   389.218750     32    25  2000
           Electronics       14715   387.236842     38    25  2000
2023-09-30 Beauty             6320   316.000000     20    25  2000
           Clothing           9975   498.750000     20    50  2000
           Electronics        7325   293.000000     25    30  2000
2023-10-31 Beauty            15355   495.322581     31    25  2000
           Clothing          13315   443.833333     30    25  2000
           Electronics       17910   511.714286     35    25  2000
2023-11-30 Beauty             9700   388.000000     25    25  2000
           Clothing          15200   584.615385     26    25  2000
           Electronics       10020   371.111111     27    25  1500
2023-12-31 Beauty            12400   496.000000     25    25  2000
           Clothing          12070   464.230769     26    30  2000
           Electronics       20220   505.500000     40    25  2000
2024-01-31 Beauty             1500  1500.000000      1  1500  1500
           Electronics          30    30.000000      1    30    30

                                    std            var
Date       Product Category
2023-01-31 Beauty            641.745796  411837.666667
           Clothing          540.872408  292542.961538
           Electronics       575.917167  331680.583333
2023-02-28 Beauty            697.754227  486860.961538
           Clothing          551.721780  304396.922348
           Electronics       623.949486  389312.961538
2023-03-31 Beauty            482.914515  233206.428571
           Clothing          497.562855  247568.794452
           Electronics       277.678761   77105.494505
2023-04-30 Beauty            519.650200  270036.330049
           Clothing          576.183806  331987.777778
           Electronics       512.217169  262366.428571
2023-05-31 Beauty            571.555591  326675.793651
           Clothing          567.646477  322222.522523
           Electronics       653.749038  427387.804487
2023-06-30 Beauty            512.246848  262396.833333
           Clothing          437.639320  191528.174603
           Electronics       675.026435  455660.688406
2023-07-31 Beauty            626.063767  391955.840456
           Clothing          602.112631  362539.619883
           Electronics       507.791637  257852.346154
2023-08-31 Beauty            451.730770  204060.688406
           Clothing          564.528221  318692.111895
           Electronics       509.448161  259537.428876
2023-09-30 Beauty            505.963385  255998.947368
           Clothing          630.421486  397431.250000
           Electronics       436.811363  190804.166667
2023-10-31 Beauty            552.575689  305339.892473
           Clothing          617.892251  381790.833333
           Electronics       662.387552  438757.268908
2023-11-30 Beauty            583.129131  340039.583333
           Clothing          565.793113  320121.846154
           Electronics       505.725551  255758.333333
2023-12-31 Beauty            583.336310  340281.250000
           Clothing          540.911624  292585.384615
           Electronics       560.315616  313953.589744
2024-01-31 Beauty                   NaN            NaN
           Electronics              NaN            NaN

Análisis Personalizado con apply

* Función personalizada: Aplica funciones personalizadas para realizar análisis específicos que no se pueden lograr con las funciones de agregación estándar.
* Ejemplo de uso avanzado: Calcula la desviación de cada venta respecto a la media de su grupo.

In [5]:
###Funcion personalizada para calcular la diferencia de ganancia con respecto a un aumento del 7% con apply
df['diferencia_10'] = df.apply(lambda row: row['ganancias_aumento_7%'] - row['Total Amount'], axis=1)


#Calcular la desviación absoluta media de la columna total amount
mean_total = df['Total Amount'].mean()
df['MAD_Total_Amount'] = df['Total Amount'].apply(lambda x: np.abs(x - mean_total))

##Calcular la desviacion de cada venta respecto a la media de su grupo
# Agrupa por categoría de producto y calcula la media de 'Total Amount' para cada grupo
mean_by_group = df.groupby('Product Category')['Total Amount'].transform('mean')

# Calcula la desviación absoluta respecto a la media del grupo
df['MAD_Group'] = df['Total Amount'].apply(lambda x: np.abs(x - mean_by_group[df.index[df['Total Amount'] == x][0]]))
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,ganancias_aumento_7%,ganancias_aumento_10%,total_normalizado,Clasificacion_ventas,diferencia_10,MAD_Total_Amount,MAD_Group
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,160.5,165.0,0.063291,Media,10.5,306.0,317.475570
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,1070.0,1100.0,0.493671,Alta,70.0,544.0,556.752137
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,32.1,33.0,0.002532,Baja,2.1,426.0,428.786550
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,535.0,550.0,0.240506,Media,35.0,44.0,56.752137
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,107.0,110.0,0.037975,Media,7.0,356.0,367.475570

Documentación

* Comentarios claros: Documenta claramente cada paso del análisis, explicando qué se hizo y por qué se hizo.
* Código legible: Asegúrate de que el código sea legible y esté bien comentado.

In [7]:
# Ejemplo de documentación en el código
"""
Este script analisa el DataFrame de retail sales para muestra de resultados.
- DataFrame original: retail_sales_dataset.cvs
- Iniciamos cargando dataset y verificando que se cargue correctamente
- Verificamos tambien las ultimas filas, informaciones y estadistica descriptiva para entender los datos.
- Se agregan nuevas columnas que son las ganancias en el aumento del 7% y 10 % asi como tambien una clasificacion del tipo de ganacia (alta, media, baja)
- Se agrupan los datos para calcular el total de ventas por categoria de producto.
- Se agrupan los datoas para mostrar el total de compras por categoria de producto en un mes/anho determinado.
- Se agregan datos estadisticos de 'sum', 'mean', 'count','min','max','std','var' a las dos agrupaciones arriba mensionados.
- Funciones personalizadas para calcular la diferencia de ganancia con respecto a un aumento del 7% y la desviación absoluta media de la columna total amount
- Calculo de la desviacion de cada venta respecto a la media de su grupo, en este caso product category con total amount
- Fecha: 01/01/2023
- Autor: Jesús Ortiz
"""

"\nEste script analisa el DataFrame de retail sales para muestra de resultados.\n- DataFrame original: retail_sales_dataset.cvs\n- Iniciamos cargando dataset y verificando que se cargue correctamente\n- Verificamos tambien las ultimas filas, informaciones y estadistica descriptiva para entender los datos.\n- Se agregan nuevas columnas que son las ganancias en el aumento del 7% y 10 % asi como tambien una clasificacion del tipo de ganacia (alta, media, baja)\n- Se agrupan los datos para calcular el total de ventas por categoria de producto.\n- Se agrupan los datoas para mostrar el total de compras por categoria de producto en un mes/anho determinado.\n- Se agregan datos estadisticos de 'sum', 'mean', 'count','min','max','std','var' a las dos agrupaciones arriba mensionados.\n- Funciones personalizadas para calcular la diferencia de ganancia con respecto a un aumento del 7% y la desviación absoluta media de la columna total amount\n- Calculo de la desviacion de cada venta respecto a la media de su grupo, en este caso product category con total amount\n- Fecha: 01/01/2023\n- Autor: Jesús Ortiz\n"